@keyframes show {
    0% {
        transform: translateY(110vh)
    }

    100% {
        transform: translateY(0%)
    }
}

@keyframes slide {
    0% {
        transform: translateY(-100vh)
    }

    100% {
        transform: translateY(0%)
    }
}

@keyframes shake {
    0% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

@keyframes hidden{
    from {
        overflow: hidden;
    }

    to {
        overflow: hidden;
    }
}

