@media (max-width: 1250px) {
  li {
    font-size: 1.1rem;
  }

  input {
    width: calc(100% - 35%);
    padding: 0.6rem;
    border-radius: 0.8rem;

    font-size: calc(100% - 15%);
    font-weight: 600;
  }

  button {
    padding: 0.6rem;

    border-radius: 0.8rem;

    font-size: 0.9rem;
  }
  .content-offer {
    width: 30%;
    padding-top: 1rem;
    margin: 0 auto;
    word-break: break-word;
  }
}

@media (min-width: 1110px) {
  #content {
    margin-top: 5rem;
  }
}

@media (max-width: 1080px) {
  button {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    width: calc(100% - 50%);
    margin-bottom: 1rem;
  }

  input {
    padding: .7rem;
    width: calc(100% - 25%);
    margin-bottom: 1.5rem;
  }
  .content-offer {
    word-break: normal;
    width: 30%;
  }
}

@media (max-width: 950px) {
  li {
    font-size: 1rem;
    
  }
  .content-offer {
    width: 35%;
  }
}

@media (max-width: 675px) {
  .content-offer {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .content-offer {
    width: 50%;
  }
}

@media (max-width: 540px) {
  .content-offer {
    width: 60%;
  }
}

@media (max-width: 400px) {
  .content-offer {
    width: 80%;
  }
}

@media (max-width: 300px) {
  .content-offer {
    width: 85%;
  }
}
